<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{ url_for('static',filename='script/form.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{%if content == {} %}Create your point of interest {%else%} Modify your point of interest {%endif%}</title>
</head>

<body>

    <nav>
        <a href="/" class="homepage"> <i class="fa-solid fa-arrow-left"></i></a>
    </nav>

    <div class="form">
        <h2>{%if content == {} %}Create your{%else%} Modify the{%endif%} point of interest</h2>
        <form id = "form" action="/api/point_of_interest{{slash}}{{id}}" method='POST'>
            <div>
                <label for="name">Name of your point of interest*
                    <input type="text" name="name" max="50" required 
                           {% if content != {} %} value  = "{{content['nameInterestPoint']}}" {% else %} value = "" {% endif %} >
                </label>

                <label for="date">Year of establishment of your point of interest*
                    <input type="number" name="date" required 
                        {% if content != {} %} value = "{{content['dateInterestPoint']}}" {% else %} value = "" {% endif %}>
                </label>

                <label for="desc">Description of your point of interest</label>
                    <textarea type="text" name="desc" max="500" id="desc_case">{% if content != {} %}{{content['descInterestPoint']}}{% endif %}</textarea>
                    
                
            </div>
            <div>
                <label for="type"> Type of structure
                    <select name="type">
                        {% for type in tpoi %}
                            <option 
                                {% if tpoi != {} %} value="{{ type['idType'] }}" {% else %} value = "" {% endif %}
                                {% if content['idType'] == type['idType'] %} selected {% endif %} > {{ type['name'] }} </option>
                        {% endfor %}
                    </select>
                </label>

                <label for="coun"> In which country :
                    <select name="coun">
                        {% for coun in countries %}
                            <option 
                                {% if countries != {} %} value="{{ coun['idCountry'] }}" {% else %} value = "" {% endif %}
                                {% if content['idType'] == coun['idCountry'] %} selected {% endif %}>{{ coun['nameCountry'] }}</option> <!-- country's name -->
                        {% endfor %}
                    </select>
                </label><br> 
          
        <input type="submit" value="Save" id="button_save">
    </form>
   
<div>
</body>

<script>
    const formSettings = {
        slash: "{{ slash }}",
        id: "{{ id }}"
    };
    </script>


</html>