<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{ url_for('static',filename='script/form.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Create your own Language</title>
</head>

<body>

    <nav>
        <a href="/" class="homepage"> <i class="fa-solid fa-arrow-left"></i></a>
    </nav>

    <div class="form">
        <h2>{%if content == {} %}Create your language : {%else%} Modify the language : {%endif%}</h2>
        <!-- <form id="form" action="/api/language{{slash}}{{id}}" method='POST'> -->
        <form action="/api/language{{slash}}{{id}}" method='POST'>
            <div>
                
                <label for="name">Name of your language* :
                    <input type="text" name="name" max="50" required 
                           {% if content != {} %} value = "{{content['nameLanguage']}}" {% else %} value = "" {% endif %} >
                </label><br>
                
                <label for="gend">Your language is gendered ? :
                    <input type="checkbox" name="gend" value="1" {%if content['gender'] == '1'%} checked {% endif %} ></label><br>

                <label for="order">Order of sentence construction
                    <select name="order">
                        <option value="1" {% if content['idType'] == '1' %} selected {% endif %}>Subject-Verb-Object</option>
                        <option value="2" {% if content['idType'] == '2' %} selected {% endif %}>Subject-Object-Verb</option>
                        <option value="3" {% if content['idType'] == '3' %} selected {% endif %}>Verb-Subject-Object</option>
                        <option value="4" {% if content['idType'] == '4' %} selected {% endif %}>Verb-Object-Subject</option>
                        <option value="5" {% if content['idType'] == '5' %} selected {% endif %}>Object-Subject-Verb</option>
                        <option value="6" {% if content['idType'] == '6' %} selected {% endif %}>Object-Verb-Subject</option>       
                    </select>
                </label>
        
                <input type="submit" value="Save" id="button_save">
            </div>
        </form>
    </div>
</body>

</html>