<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Formulaire incroyable</title>
</head>

<body>
    <form action="/ajout" method='POST'>
        <label for="form"></label>
        
        <label for="game_name">Nom du jeu</label>

        <input type="text" name="game_name" max="50" required value="{{content['name']}}">

        <label for="price">Prix du jeu</label>
        <input type="number" name="price" required value="{{content['price']}}">

        <label for="desc">Description</label>
        <input type="text" name="desc" required value="{{content['description']}}">

        <input type="submit" value="Ajouter">
    </form>
</body>

</html>