<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Create your own Country</title>
</head>

<body>
    <form action="/ajout" method='POST'>  
        <label for="form"></label>
        
        <label for="name">Name of your Country
            <input type="text" name="name" max="50" required value="{{content['name']}}"></label><br>
        
        <label for="desc">Description of your Country
            <input type="text" name="desc" max="500" value="{{content['how my Country is']}}"></label><br>

        <label for="nbHab">Number of inhabitants out of <!--nombre d'habitant restant-->
            <input type="number" name="nbHab" max="10000" required value="{{content['inhabitants']}}"></label><br>        

        <label for="cap">Name of your Capital
            <input type="text" name="cap" max="50" value="{{content['capital']}}"></label><br>

        <label for="date">Date of fondation
            <input type="date" name="date" value="{{content['date']}}"></label><br>

        <label for="gouv">Type of gouverment
            <input type="text" name="gouv" max="100" value="{{content['gouvernement']}}"></label><br>

        <label for="lang">Languages
            <select name="lang[]">
                <!-- ajouter dynamiquement les langues par JS -->
            </select>
            </label><br>
        <button onclick="openModal()">Ratio</button>            
        <input type="submit" value="Save">
    </form>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3>Ratio of languge</h3>
            <!--les langues selectionné   A VOIR COMMENT FAIRE-->
            <button onclick="closeModal()">Close</button>
        </div>
    </div> 
</body>


<!-- JavaScript -->
<script>
  function openModal() {
    document.getElementById('modal').style.display = 'flex';
  }
  function closeModal() {
    document.getElementById('modal').style.display = 'none';
  }
  window.onclick = function(event) {
    const modal = document.getElementById('modal');
    if (event.target === modal) {
      closeModal();
    }
  }
</script>

</html>






