<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinguiCountry</title>
</head>
<body>
    <h1>Home</h1>

    <div class="main-section">
        <div class="languages">
            {{}}
            <div class="language">
                <h1>French</h1>
            </div>
        </div>
        <div class="countries">
            <div class="country">
                <h1>France</h1>
            </div>
            <div class="country">
                <h1>Iocto</h1>
            </div>
        </div>
        <div class="points_of_interest">
            <div class="poi">
                <h1>test</h1>
            </div>
            <div class="poi">
                <h1>test</h1>
            </div>
        </div>
    </div>
    
</body>
</html>