<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>LinguiCountry</title>
</head>
<body>
    <h1>Home</h1>

    <div class="main-section">
        <div class="languages">
            {% for language in languages %}
            <div class="language">
                <h1>{{language[1]}}</h1> <!-- name -->
                <!-- add calculation of language speakers here -->
            </div>
                
            {% endfor %}

            <button><a href="/language/action">+</a></button>

        </div>
        <div class="countries">
            {% for country in countries %}
            <div class="country">
                <h1>{{country[1]}}</h1> <!-- name -->
                <h1>{{country[3]}} h</h1> <!-- inhabitants -->
            </div>
                
            {% endfor %}

            <button><a href="/country/action">+</a></button>

        </div>
        <div class="points_of_interest">
            {% for point_of_interest in points_of_interest %}
            <div class="poi">
                <h1>{{point_of_interest[1]}}</h1> <!-- name -->
                <h1>{{point_of_interest[2]}}</h1> <!-- date of establishment -->
            </div>
            {% endfor %}

            <button><a href="/point_of_interest/action">+</a></button>

        </div>
    </div>
    
</body>
</html>