<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>LinguiCountry</title>
</head>
<body>
    <nav>
        <h1>Home</h1>
    </nav>
    
    <div class="main-section">
        <div class="languages">
            <h1>Languages</h1>
            {% for language in languages %}
            <div class="language">
                <a href="/language/{{ language[0] }}">
                    <h2>{{language[1]}}</h2> <!-- name -->
                    <h2>{{language[4]}} <i class="fa-solid fa-user"></i> </h2> <!-- language speakers -->
                </a>
            </div>
                
            {% endfor %}

            <button><a href="/language/action">+</a></button>

        </div>
        <div class="countries">
            <h1>Countries</h1>
            {% for country in countries %}
            <div class="country">
                <a href="/country/{{ country[0] }}">
                    <h2>{{country[1]}}</h2> <!-- name -->
                    <h2>{{country[3]}} <i class="fa-solid fa-user"></i> </h2> <!-- inhabitants -->
                </a>
            </div>
                
            {% endfor %}

            <button><a href="/country/action">+</a></button>

        </div>
        <div class="points_of_interest">
            <h1>Points of Interest</h1>
            {% for point_of_interest in points_of_interest %}
            <div class="poi">
                <a href="/point_of_interest/{{ point_of_interest[0] }}">
                    <h2>{{point_of_interest[1]}}</h2> <!-- name -->
                    <h2>{{point_of_interest[2]}}</h2> <!-- date of establishment -->
                </a>
            </div>
            {% endfor %}

            <button><a href="/point_of_interest/action">+</a></button>

        </div>
    </div>
    
</body>
</html>