<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{content}}</title>
</head>
<body>
    <h1 class="titre">Language</h1>
    <h2 class="titre">{{content}}</h2>
    <div class="fiche">
        <div>
            <h3>Population :</h3>
            <p> inhabitants</p>

            <h3>Capital :</h3>
            <p> </p>

            <h3>Date of fondation :</h3>
            <p> </p>

            <h3>Gouvernment type :</h3>
            <p> </p>

            <h3>Languages :</h3>
            <p> </p>

            <h3>Points of interest :</h3>
            <p> </p>
        </div>
        <div>
            <div class="button">
                <a href="/language/action/{{content[0]}}"><button>Modify Language</button></a>
                <!-- <a href="/delete/l/{{content[0]}}"><button>Delete Language</button></a> -->
            </div>
            <h3>Description :</h3>
            <p> </p>
        </div>
</body>
</html>