<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{ url_for('static',filename='script/language.js') }}"></script>
    <script src="{{ url_for('static',filename='script/modal.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Language</title>
</head>
<body>
    <nav>
        <a href="/" class="homepage"> <i class="fa-solid fa-arrow-left"></i></a>
        <h1 class="title">Language</h1>
        <h2 class="name">Name</h2>
    </nav>

    <div class="modal-container">
        <div class="modal">
            <h1>Are you really really really sure to delete this item?</h1>
            <button id="delete-btn">Delete <i class="fa-solid fa-trash-can"></i> </button>
            <button id="cancel-btn">Cancel <i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>

    <div class="fiche">
        <div id="lang">
            <h3>Number of speaker in the world :</h3>
            <p class="speakers"> </p>

            <h3>Present in those countries:</h3>
            <p class="countries"> </p>

            <h3>Words order :</h3>
            <p class="word-order"> </p>

            <h3>Grammar</h3>
            <p class="gender"> </p>
        </div>
        <div>
        <div class="button_lang">
                <a href="/language/action/{{content}}"><button>Modify Language</button></a>
                <button id="modal-btn">Delete Language</button>
        </div>

    <script>
    const poiData = {
        id: "{{ content }}"
    };
    </script>
</body>
</html>