<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{content}}</title>
</head>
<body>
    <h2 class="titre">Language</h2>
    <h1 class="titre">{{content}}</h1>
    <div class="fiche">
        <div id="lang">
            <h3>Number of speaker in the world :</h3>
            <p> </p>

            <h3>Presente in those countries:</h3>
            <p> </p>

            <h3>Words order :</h3>
            <p> </p>

            <h3>:</h3>
            <p> </p>

            <h3>:</h3>
            <p> </p>

            <h3> :</h3>
            <p> </p>
        </div>
        <div class="button">
                <a href="/language/action/{{content[0]}}"><button>Modify Language</button></a>
                <!-- <a href="/delete/l/{{content[0]}}"><button>Delete Language</button></a> -->
        </div>
</body>
</html>