<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static',filename='script/poi.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Point of Interest</title>
</head>
<body>
    <h1 class="title">Point of Interest</h1>
    <h2 class="name"></h2>
    <div class="fiche">
        <div>
            <h3>Creation date :</h3>
            <p class="date"></p>

            <h3>Country :</h3>
            <p class="country"></p> <!--chercher le nameCountry-->

            <h3>Type :</h3>
            <p class="type"></p> <!--chercher le name (dans Type)-->
        </div>
        <div>
            <div class="button">
                <a href="/point_of_interest/action/{{ content }}"><button>Modify Point of Interest</button></a>
                <button id="delete-btn">Delete Point of Interest</button>
            </div>
            <h3>Description :</h3>
            <p class="desc"></p>

    
        </div>
    </div>
    
    <script>
        const poiData = {
            id: "{{ content }}",
            name: "{{ content[1] }}"
        };
        </script>
</body>
</html>