<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>{{content}}</title>
</head>
<body>
    <h1 class="titre">Point of Interest</h1>
    <div class="fiche">
        <h3>Name :</h3>
        <p>{{content.nameInterestPoint}}</p>
        
        <h3>Creation date :</h3>
        <p>{{content.dateInterestPoint}}</p>

        <h3>Description :</h3>
        <p>{{content.descInterestPoint}}</p>

        <h3>Country :</h3>
        <p>{{content.idCountry}}</p> <!--chercher le nameCountry-->

        <h3>Type :</h3>
        <p>{{content.idType}}</p> <!--chercher le name (dans Type)-->

    </div>
    <a href="/delete/poi/{{content[0]}}">
    <button>Delete Point of Interest</button>
    </a>
</body>
</html>