@font-face {
    font-family: 'Satoshi';
    src: url('../font/Satoshi-Variable.woff2') format('woff-variations');
    font-weight: 200 900;
}

:root {
    --back: #929FD3;
    --rect: #07465F;
    --recthover: #082e3d;
    --title: white;
    --text: #C0D4DD;
    --texthover: #C8CFEC;
}

body {
  background-color: var(--back);
}

* {
  font-family: 'Satoshi';
  box-sizing: border-box;
}

form {
    display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}




nav h1 {
  text-align: center;
}

nav #modal-btn {
  position: absolute;
  border-style: none;
  top: 30px;
  right: 50px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--text);
  color:var(--rect);
}

#modal-btn:hover {
  background-color: var(--texthover);
  color:var(--recthover);
}

nav .homepage {
  position: absolute;
  margin: 20px;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: var(--text);
  color: var(--rect);
  border-radius: 5px;
  cursor: pointer;
}

nav .homepage:hover {
  background-color: var(--texthover);
  color: var(--recthover);
}

nav .homepage:hover {
  background-color: var(--texthover);
}

#modal-btn i{
  transition: cubic-bezier(.45,.4,.28,.97) 500ms;
}

#modal-btn:hover i {
  transform: rotate(180deg);
  transition: cubic-bezier(.45,.4,.28,.97) 500ms;
  
}

/* MODAL */

.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  cursor: pointer;
  transition: cubic-bezier(.45,.4,.28,.97) 1s;
}

.modal-container.show {
  background-color: rgba(0, 0, 0, 0.121);
}

.modal {
  background-color: var(--rect);
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  padding: 150px 100px;
  border-radius: 15px;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: auto;
  opacity: 0;
}

@keyframes entrance {
  0% {
    transform: translate(-50%, -40%);
  } 
  100% {
    transform: translate(-50%, -50%);
    opacity: 100%;
  } 
}

@keyframes exit {
  0% {
    transform: translate(-50%, -50%);
    opacity: 100%;
  }
  100% {
    transform: translate(-50%, -40%);
    opacity: 0;
  }
}

.modal.exit {
  animation: exit 1s cubic-bezier(.45,.4,.28,.97) forwards;
}

.modal.entrance {
  animation: entrance 1s cubic-bezier(.45,.4,.28,.97) forwards;
}

.main-section {
  display: flex;
  justify-content: space-around;
}

.main-section .countries, .main-section .languages, .main-section .points-of-interest {
  display: flex;
  flex-direction: column;
}

.main-section .country, .main-section .poi, .main-section .language {
  display: flex;
  justify-content: space-between;
  background-color: var(--rect);
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 10px;
}

.main-section .country:hover, .main-section .poi:hover, .main-section .language:hover {
  background-color: var(--recthover);
}

.main-section .country a, .main-section .language a, .main-section .poi a {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 15px;
}

.main-section a {
  text-decoration: none;
  /* color: black; */
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

.main-section button {
  background-color: var(--text);
  border-style: none;
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 0;
}

.main-section button:hover{
  background-color: var(--texthover);
}

.main-section button a{
  color: var(--rect);
  width: 100%;
  line-height: 50px;
  height: 100%;
  display: block;
}

.main-section button a{
  color: var(--recthover);
}


.title, .name {
  text-align: center;
}

.fiche {
  display: flex;
  justify-content:space-around;
  background-color: var(--rect);
  border-radius: 16px;
  margin-bottom: 10px; margin-left:10px; margin-right:10px;
  padding-bottom: 10px;
}

.fiche > div:nth-child(1){
  width: 30%;
}
.fiche > div:nth-child(2){
  display :block;
  width: 60%;
}


.fiche h3 {
  margin-left: 10%; margin-top: 10px; margin-bottom: 10px;
}
.fiche p{
  margin-left: 20%; margin-top: 0px; margin-bottom: 5px;
}
.fiche .button{
  display: flex;
  justify-content: end;
  margin: 10px;
  margin-right: -3%;
  gap: 1%;
}
.fiche .button_lang{
  display: flex;
  justify-content: end;
  margin: 10px;
  margin-right: 2%;
  gap: 2%;
}

.fiche button{
  background-color: var(--text);
  color: var(--rect);
  padding: 10px;
  border:none;
  border-radius: 4px;
}
.fiche button:hover{
  background-color: var(--texthover);
  color: var(--recthover);
  padding: 10px;
}

.fiche #lang{
  width: 150%;
  align-self: center;
}

.fiche .type {
  text-transform: capitalize;
  display: flex;
  gap: 10px;
  align-items: baseline;
}

form {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  background-color: var(--rect);
  border-radius: 16px;
  margin-bottom: 10px; margin-left:auto;
  margin-right: auto;
  width: 80%;
  padding: 5%;
}
form > div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 45%;
}
form #button_save{
  background-color: var(--text);
  color: var(--rect);
  padding: 10px;
  border:none;
  border-radius: 4px;
  margin: 5px; margin-top: 20px; margin-left: 65%;
  width: 20%;

}
form #button_save:hover{
  background-color: var(--texthover);
  color: var(--recthover);
}
form label{
  color: var(--title);
  margin : 5px;
}

form .checkbox-group{
  margin-left: 5%;
}

#desc_case {
  border: none;
  border-radius: 8px;
  height : 70%;
  width: 80%;
  resize: vertical;
  margin: 5px;
  color: var(--rect);
}
input{
  border-radius: 4px;
  border:none;
  margin : 5px;
  background-color: var(--title);
  color: var(--rect);
}
.form h2{
  margin: 10px;
  text-align: center;
}


h1, h2 {
  color: var(--title);
}
.language h2, .country h2, .poi h2, h3, p {
  color: var(--text);
  font-weight: 400;
}
.language:hover h2, .country:hover h2, .poi:hover h2{
  color: var(--texthover)
}

.fiche .languages,.fiche .poi,.fiche .country,.fiche .countries {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap : 5%;
  margin-left:20%;
}
.fiche .languages > *,.fiche .poi > *,.fiche .country > *,.fiche .countries > * {
  border : none;
  border-radius: 4px;
  background-color: var(--text);
  color: var(--rect);
  padding : 5px;
}
.fiche .languages > *:hover,.fiche .poi > *:hover,.fiche .country > *:hover,.fiche .countries > *:hover {
  background-color: var(--texthover);
  color: var(--recthover);
}
