* {
  font-family: sans-serif;
}

form {
    display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}




nav h1 {
  text-align: center;
}

#init-btn {
  position: absolute;
  border-style: none;
  top: 30px;
  right: 50px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#init-btn i{
  transition: cubic-bezier(.45,.4,.28,.97) 500ms;
}

#init-btn:hover i {
  transform: rotate(180deg);
  transition: cubic-bezier(.45,.4,.28,.97) 500ms;
  
}

.main-section {
  display: flex;
  justify-content: space-around;
}

.main-section .countries, .main-section .languages, .main-section .points-of-interest {
  display: flex;
  flex-direction: column;
}

.main-section .country, .main-section .poi, .main-section .language {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 10px;
}

.main-section .country:hover, .main-section .poi:hover, .main-section .language:hover {
  background-color: rgb(195, 192, 192);
}

.main-section .country a, .main-section .language a, .main-section .poi a {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 15px;
}

.main-section a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.main-section button {
  border-style: none;
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 0;
}

.main-section button a{
  width: 100%;
  line-height: 50px;
  height: 100%;
  display: block;
}


.titre {
  text-align: center;
}
.fiche {
  display: flex;
  justify-content:space-around;
  background-color: lightgrey;
  border-radius: 5px;
  margin-bottom: 10px; margin-left:10px; margin-right:10px;
}

.fiche > div:nth-child(1){
  width: 30%;
}
.fiche > div:nth-child(2){
  display :block;
  width: 60%;
}


.fiche h3 {
  margin-left: 10%; margin-top: 10px; margin-bottom: 10px;
}
.fiche p{
  margin-left: 20%; margin-top: 0px; margin-bottom: 5px;
}
.fiche .button{
  display: flex;
  justify-content: end;
  margin: 10px;
  margin-right: -3%;
  gap: 1%;
}

.fiche #lang{
  width: 93%;
  align-self: center;
}